* {
  margin: 0;
  font-family: 'Cinzel', serif;

}

body {
  background: rgb(39, 32, 32);
}

.App {
  text-align: center;
}

.App-header {
  background-color:inherit;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  font-size: calc(10px + 2vmin);
  color:#dcdde1;
}

.form__input {
  background: grey;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 15%;
  padding: 0.4rem;
  color: white;
  outline: none;
}

.form__input::placeholder {
  color: white;
}

.form__btn {
  border: solid 2px none;
  cursor: pointer;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 8%;
  padding: 0.4rem;
}

.table {
  background-color: rgb(56, 46, 46);
  color: white;
}

.skill_img {
  width:15px;
  height: auto;
}